# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
tftp/DM369
tftp/DM365
tftp/DMVA1
tftp/DMVA2
tftp/DM368
ipnc_rdk/tftp
ipnc_rdk/target/filesys_dm368/opt/ipnc/
dvsdk_ipnctools/linuxutils_2_26_02_05/packages/ti/
ipnc_rdk/ipnc_app/cmd_server/src/release/
*.o
*.depend
*.DEPEND
*.map
*.ko
*.o.cmd
cscope.out
cscope.out.in
cscope.out.po
tags

#make clean
ipnc_rdk/av_capture/framework/alg/src/alg_config/.interfaces
ipnc_rdk/av_capture/framework/alg/src/alg_config/.libraries,v5T
ipnc_rdk/av_capture/framework/alg/src/alg_config/.xdcenv.mak
ipnc_rdk/av_capture/framework/alg/src/alg_config/compiler.opt
ipnc_rdk/av_capture/framework/alg/src/alg_config/config.bld
ipnc_rdk/av_capture/framework/alg/src/alg_config/custom.mak
ipnc_rdk/av_capture/framework/alg/src/alg_config/package.bld
ipnc_rdk/av_capture/framework/alg/src/alg_config/package.mak
ipnc_rdk/av_capture/framework/alg/src/alg_config/package.xdc
ipnc_rdk/av_capture/framework/alg/src/alg_config/package.xs
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/.vers_b150
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/.vers_c150
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/.vers_g160
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/.vers_r170
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/.xdc-u17
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/alg_config.ccs
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/alg_config.class
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/alg_config.java
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/alg_config.sch
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/build.cfg
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.c
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.cfg
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.cfg.dot
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.cfg.xml
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.dep
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.h
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.mak
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.ov5T
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.ov5T.dep
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.rov.xs
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.rta.xml
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.xdc.inc
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.xdl
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/info/alg_server.xv5T.info.js
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/package.bld.xml
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/package.defs.h
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/package.doc.xml
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/package.xdc.dep
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/package.xdc.inc
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/package_alg_config.c
ipnc_rdk/av_capture/framework/alg/src/alg_config/package/rel/alg_config.xdc.inc
ipnc_rdk/ipnc_app/multimedia/avi_save/Appro_avi_save
ipnc_rdk/ipnc_app/network/ScanIP_Upnp/upnp-scanip
ipnc_rdk/ipnc_app/network/boa-0.94.13/src/boa_indexer
ipnc_rdk/ipnc_app/network/boa-0.94.13/src/lex.yy.c
ipnc_rdk/ipnc_app/network/boa-0.94.13/src/y.tab.c
ipnc_rdk/ipnc_app/network/boa-0.94.13/src/y.tab.h
ipnc_rdk/ipnc_app/network/dhcpcd/dhcpcd
ipnc_rdk/ipnc_app/network/esmtp/appro-mail
ipnc_rdk/ipnc_app/network/live/appro/wis-streamer
ipnc_rdk/ipnc_app/network/live/audiorecv/audio-receiver
ipnc_rdk/ipnc_app/network/live/mediaServer/live555MediaServer
ipnc_rdk/ipnc_app/network/live/proxyServer/live555ProxyServer
ipnc_rdk/ipnc_app/network/live/testProgs/MPEG2TransportStreamIndexer
ipnc_rdk/ipnc_app/network/live/testProgs/openRTSP
ipnc_rdk/ipnc_app/network/live/testProgs/playSIP
ipnc_rdk/ipnc_app/network/live/testProgs/sapWatch
ipnc_rdk/ipnc_app/network/live/testProgs/testAMRAudioStreamer
ipnc_rdk/ipnc_app/network/live/testProgs/testDVVideoStreamer
ipnc_rdk/ipnc_app/network/live/testProgs/testH264VideoStreamer
ipnc_rdk/ipnc_app/network/live/testProgs/testH264VideoToTransportStream
ipnc_rdk/ipnc_app/network/live/testProgs/testMP3Receiver
ipnc_rdk/ipnc_app/network/live/testProgs/testMP3Streamer
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG1or2AudioVideoStreamer
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG1or2AudioVideoToDarwin
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG1or2ProgramToTransportStream
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG1or2Splitter
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG1or2VideoReceiver
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG1or2VideoStreamer
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG2TransportReceiver
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG2TransportStreamTrickPlay
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG2TransportStreamer
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG4VideoStreamer
ipnc_rdk/ipnc_app/network/live/testProgs/testMPEG4VideoToDarwin
ipnc_rdk/ipnc_app/network/live/testProgs/testOnDemandRTSPServer
ipnc_rdk/ipnc_app/network/live/testProgs/testRTSPClient
ipnc_rdk/ipnc_app/network/live/testProgs/testRelay
ipnc_rdk/ipnc_app/network/live/testProgs/testReplicator
ipnc_rdk/ipnc_app/network/live/testProgs/testWAVAudioStreamer
ipnc_rdk/ipnc_app/network/live/testProgs/vobStreamer
ipnc_rdk/ipnc_app/network/ntpclient/ntpclient
ipnc_rdk/ipnc_app/network/quftp-1.0.7/quftp
ipnc_rdk/ipnc_app/utils/armloading/arm_loading
ipnc_rdk/ipnc_app/utils/update/update.cgi



