# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
tftp/
ipnc_rdk/target/filesys_dm368/opt/ipnc/
dvsdk_ipnctools/linuxutils_2_26_02_05/packages/ti/
*.o
*.depend
*.DEPEND
*.map
*.ko
*.o.cmd
cscope.out
cscope.out.in
cscope.out.po
tags

#make clean
av_capture/framework/alg/src/alg_config/.interfaces
av_capture/framework/alg/src/alg_config/.libraries,v5T
av_capture/framework/alg/src/alg_config/.xdcenv.mak
av_capture/framework/alg/src/alg_config/compiler.opt
av_capture/framework/alg/src/alg_config/config.bld
av_capture/framework/alg/src/alg_config/custom.mak
av_capture/framework/alg/src/alg_config/package.bld
av_capture/framework/alg/src/alg_config/package.mak
av_capture/framework/alg/src/alg_config/package.xdc
av_capture/framework/alg/src/alg_config/package.xs
av_capture/framework/alg/src/alg_config/package/.vers_b150
av_capture/framework/alg/src/alg_config/package/.vers_c150
av_capture/framework/alg/src/alg_config/package/.vers_g160
av_capture/framework/alg/src/alg_config/package/.vers_r170
av_capture/framework/alg/src/alg_config/package/.xdc-u17
av_capture/framework/alg/src/alg_config/package/alg_config.ccs
av_capture/framework/alg/src/alg_config/package/alg_config.class
av_capture/framework/alg/src/alg_config/package/alg_config.java
av_capture/framework/alg/src/alg_config/package/alg_config.sch
av_capture/framework/alg/src/alg_config/package/build.cfg
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.c
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.cfg
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.cfg.dot
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.cfg.xml
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.dep
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.h
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.mak
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.ov5T
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.ov5T.dep
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.rov.xs
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.rta.xml
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.xdc.inc
av_capture/framework/alg/src/alg_config/package/cfg/alg_server_xv5T.xdl
av_capture/framework/alg/src/alg_config/package/info/alg_server.xv5T.info.js
av_capture/framework/alg/src/alg_config/package/package.bld.xml
av_capture/framework/alg/src/alg_config/package/package.defs.h
av_capture/framework/alg/src/alg_config/package/package.doc.xml
av_capture/framework/alg/src/alg_config/package/package.xdc.dep
av_capture/framework/alg/src/alg_config/package/package.xdc.inc
av_capture/framework/alg/src/alg_config/package/package_alg_config.c
av_capture/framework/alg/src/alg_config/package/rel/alg_config.xdc.inc
ipnc_app/multimedia/avi_save/Appro_avi_save
ipnc_app/network/ScanIP_Upnp/upnp-scanip
ipnc_app/network/boa-0.94.13/src/boa_indexer
ipnc_app/network/boa-0.94.13/src/lex.yy.c
ipnc_app/network/boa-0.94.13/src/y.tab.c
ipnc_app/network/boa-0.94.13/src/y.tab.h
ipnc_app/network/dhcpcd/dhcpcd
ipnc_app/network/esmtp/appro-mail
ipnc_app/network/live/appro/wis-streamer
ipnc_app/network/live/audiorecv/audio-receiver
ipnc_app/network/live/mediaServer/live555MediaServer
ipnc_app/network/live/proxyServer/live555ProxyServer
ipnc_app/network/live/testProgs/MPEG2TransportStreamIndexer
ipnc_app/network/live/testProgs/openRTSP
ipnc_app/network/live/testProgs/playSIP
ipnc_app/network/live/testProgs/sapWatch
ipnc_app/network/live/testProgs/testAMRAudioStreamer
ipnc_app/network/live/testProgs/testDVVideoStreamer
ipnc_app/network/live/testProgs/testH264VideoStreamer
ipnc_app/network/live/testProgs/testH264VideoToTransportStream
ipnc_app/network/live/testProgs/testMP3Receiver
ipnc_app/network/live/testProgs/testMP3Streamer
ipnc_app/network/live/testProgs/testMPEG1or2AudioVideoStreamer
ipnc_app/network/live/testProgs/testMPEG1or2AudioVideoToDarwin
ipnc_app/network/live/testProgs/testMPEG1or2ProgramToTransportStream
ipnc_app/network/live/testProgs/testMPEG1or2Splitter
ipnc_app/network/live/testProgs/testMPEG1or2VideoReceiver
ipnc_app/network/live/testProgs/testMPEG1or2VideoStreamer
ipnc_app/network/live/testProgs/testMPEG2TransportReceiver
ipnc_app/network/live/testProgs/testMPEG2TransportStreamTrickPlay
ipnc_app/network/live/testProgs/testMPEG2TransportStreamer
ipnc_app/network/live/testProgs/testMPEG4VideoStreamer
ipnc_app/network/live/testProgs/testMPEG4VideoToDarwin
ipnc_app/network/live/testProgs/testOnDemandRTSPServer
ipnc_app/network/live/testProgs/testRTSPClient
ipnc_app/network/live/testProgs/testRelay
ipnc_app/network/live/testProgs/testReplicator
ipnc_app/network/live/testProgs/testWAVAudioStreamer
ipnc_app/network/live/testProgs/vobStreamer
ipnc_app/network/ntpclient/ntpclient
ipnc_app/network/quftp-1.0.7/quftp
ipnc_app/utils/armloading/arm_loading
ipnc_app/utils/update/update.cgi



